<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="loginUser()">
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="loginData.Username"
          placeholder="Username"
          name="username"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="loginData.Password"
          type="password"
          placeholder="Password"
          name="password"
          required
        />
      </mat-form-field>
      <button mat-button type="submit">Login</button>
    </form>
  </mat-card-content>
</mat-card>
